body {
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif
}
nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: #C8E0F4;
    padding: 0 10px;
}

div {
    width: 50%;
    text-align: center;
    margin: auto;
    margin-top: 10%;
    background-color: #C8E0F4;
    border-radius: 15px;
    box-shadow: 10px 10px 10px ;
    padding:5%  
}

#correct {
    color: green;
    border-bottom: 4px solid green;
    width: 90%;
    margin: 1rem auto;
    font-size: 3rem;
    display: none;
}

#incorrect {
    color: red;
    border-bottom: 4px solid red;
    width: 90%;
    margin: 1rem auto;
    font-size: 3rem;
    display: none;
}

#initialsDiv {
    margin: auto;
   
}

button {
    border-radius: 10px;
    background-color: #031927;
    color: white;

}

#answers {
    display: flex;
    flex-direction: column;
    width: 60%;
    margin: 0 auto;
}

table {
    border: 1px solid;
    width: 25%;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    padding: 1rem
}






#initialsDiv {
    display: flex;
    flex-direction: column;
    width: 200px;
    margin: 0 auto;
}

#clearHighScores {
    margin: 1rem;
}